
 body{
 	/*background-color: rgb(58,208,200);*/
 	background-image: url("http://cdn.c.photoshelter.com/img-get2/I0000ZofrRaUjeOc/fit=1000x750/surf-photography-under-water-wave.jpg");
 }

 #right{
	z-index: 1;
 }
 #left{
	z-index: 0;
	display: none;
	/*visibility: */
 }
